h1 {
    position: center;
}

#container {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #ffc600;
    height: 20px;
    width: 20px;
    margin: .24em;
    padding: 1em;
    font-size: 3em;
}

#row {
    display: flex;
}

#equal-button {

    width: 160px;
}

#display-window {
    display: flex;
    justify-content: flex-end;
    background-color: lightblue;
    height: 20px;
    width: 435px;
    margin: .24em;
    padding: 1em;
    font-size: 3em;
}

/* .display-content {
    
} */

#divide-button, #multiplication-button, #minus-button, #plus-button {
    background-color: lightcoral;
}

#equal-button {
    background-color: rgb(73, 216, 73);
}

#clear-button {
    background-color: mediumslateblue;
}