h1 {
    /* position: center; */
}

#container {
    display: flex;
    flex-direction: column;
    /* width: 440px; */
}

.button {
    background-color: #ffc600;
    height: 17px;
    width: 17px;
    margin: 6px;
    padding: 30px;
    font-size: 30px;
}

#row {
    display: flex;
}

#equal-button {
    width: 195px;
}

#display-window {
    display: flex;
    justify-content: flex-end;
    background-color: lightblue;
    height: 36px;
    width: 284px;
    margin: 6px;
    padding: 30px;
    font-size: 40px;
}

/* .display-content {
    
} */

#divide-button, #multiplication-button, #minus-button, #plus-button {
    background-color: lightcoral;
}

#equal-button {
    background-color: rgb(73, 216, 73);
}

#clear-button {
    background-color: mediumslateblue;
}